
on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    # By default, primary storage is physical
    setprop ro.vold.primary_physical 1
    setprop ro.com.google.locationfeatures 1

on fs
        mount_all /fstab.tinfish

service enable_swap /system/bin/enable_nativeswap
    class main
    oneshot

